<div>  
<table mat-table [dataSource]="insuranceData">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Insurance ID</th>
      <td mat-cell *matCellDef="let item">{{ item.ins_id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let item">{{ item.company_name }}</td>
    </ng-container>
    <th mat-header-row *matHeaderRowDef="['id','name']"></th>
    <tr mat-row *matRowDef="let row; columns: ['id','name'];"></tr>
  </table>
</div>
  <button class="bottom-right-button" mat-icon-button color="white" (click)="toggleDrawer()" aria-label="add icon">
    <mat-icon>add</mat-icon>
  </button>

