
  .patient-form {
    /* align-items: end; */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: whitesmoke;
  }
  
  .patient-form mat-form-field {
    /* width: 100%; */
    padding: 8px;
    margin-bottom: 10px;

    /* margin-bottom: 20px; */
  }
  .mat-icon {
    /* font-size: 16px; */
  }
  .name-fields {
    display: flex;
    /* padding: 8px; */
    align-items: flex-start;
  }
  .form-section2 {
    display: flex;
    /* padding: 8px; */
    align-items: flex-start;
  }
  .form-button {
    padding: 8px;
    margin-right: 8px;
  }

  mat-hint {
    font-size: 10px;
  }

  button {
    padding: 12px;
    margin: 4px;
  }