
  .register-form {
    align-items: end;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
  }
  
  .register-form mat-form-field {
    /* width: 100%; */
    padding: 8px;
    height: fit-content;
    /* margin-bottom: 20px; */
  }
  
  .name-fields {
    display: flex;
    /* padding: 8px; */
    align-items: flex-start;
  }
  .form-section2 {
    display: flex;
    padding: 8px;
    align-items: flex-start;
  }
  .form-button {
    padding: 8px;
    margin-right: 8px;
  }