.container {
  margin: 10px;
  padding: auto;
}
.container button {
  margin: 10px;
  padding: auto;
}

.column {
  flex: auto;
  margin: 10px;
}

.search-card {
  display: flex;
}
/* .search-card app-patient-search{
  flex: 0;
  width: max-content;
} */
.search-component {
  padding: 10px;
  display: flex;

  
}
.search-component input{
  flex: 1;
  width: auto;
}
.search-component button{
  width: auto;
}

.register-component mat-card {
  width: auto;
  padding: 4px;
}

.register-container {
  height: 100vh;
  width: max-content;
  display: flex;
}

mat-drawer {
  background-color: #f2f2f2;
  padding: 16px;
}

mat-drawer-content {
  padding: 16px;
}
