
.container button {
  margin: 10px;
  padding: auto;
}

.grid-container {
  display: list-item;
  gap: 10px;
}
.grid-item {
  margin: 10px;
  padding: 20px;
  height: fit-content;
  /* width: 100%; */
}
.app-patient-search{
  margin-left: 20px;
}
.xsc {
  /* width: 100%;  */
  /* overflow-y: auto; */
  background-color: white;
}

button {
  padding: 12px;
  margin-left: 8px;
}


mat-drawer {
  background-color: #f2f2f2;
  padding: 16px;
}

mat-drawer-content {
  padding: 16px;
}
