<div class='grid-container'>
  <div class='grid-item'>
    <div class='app-patient-search'>
  <app-patient-search (patEditEvent)="handlePatEdit($event)"></app-patient-search>
    </div>
    <button mat-flat-button color="primary" (click)="openSearchDialog()" hidden=true>Search patient with ID / Mobile / Civil ID</button>
    <button mat-raised-button color="primary" (click)="openAddDialog()" hidden=true>ADD</button>
  </div>
  <div class='grid-item'>
  <mat-card class='grid-content'>
    <mat-card-header class='grid-header'></mat-card-header>
    <mat-card-content>
    <app-patient-register [editData]="editEventData"></app-patient-register>
    </mat-card-content>
  </mat-card>
</div>

</div>

