.input-search {
   margin-left: 50px;
}
.input-search input {
   width:  100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}
table {
    width: 100%;
  }
.input-search button {
    margin-left: 12px;
}
.action-button{
    padding: 8px;
    margin-right: 3px;
}

.search-record{
    margin-left: 50px;
    max-height: 250px; 
    width: max-content;
    overflow-y: auto;
}

.mat-row:hover {
    background-color: #e5e5e5;
  }

  .mat-header-row {
background-color: #f5f5f5;
}
.search-table{
    border-collapse: collapse;
}
.search-table mat-header-cell {
    background-color: #f5f5f5;
  }
.custom-table mat-cell:hover {
background-color: blue;
}