.input-search input {
   width:  32%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}
.input-search button {
    margin-left: 12px;
}
.action-button{
    padding: 8px;
    margin-right: 3px;
}

.search-record{
    max-height: 250px; /* Adjust the max-height value as needed */
    overflow-y: auto;
}