.input-search {
   margin-left: 50px;
   /* font-size: 16px; */
}

.input-search mat-form-field {
   margin-left: 20px;
   /* font-size: 14px; */
}
.name-search{
margin-left: 70px;
}
.name-search mat-form-field{
    width: 280px;
}
.search-button {
   margin-left: 10px;
}
.clear-button {
   margin-left: 72px;
}